@import "../../styles/all.modules";

.contentContainer {
  height: calc(100vh - 72px);
  overflow-y: scroll;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #ffffff;
}
