@import "../../styles/all.modules";

.contentContainer {
  height: calc(100vh - 72px);
  overflow-y: scroll;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: #ffffff;
  padding-bottom: 32px;
  .noDataFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    > p {
      font-size: 24px;
      font-weight: 500;
      color: #000;
    }
  }
}
