@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* React Draft Wysiwyg */
.rdw-editor-wrapper {
  border-radius: 5px;
  border: 1px solid #555555;
}

.rdw-editor-wrapper {
  border-radius: 5px !important;
  border: 1px solid !important;
}

.rdw-editor-wrapper:focus {
  border: 1px solid red;
}

.rdw-editor-toolbar {
  border-radius: 5px 5px 0px 0px !important;
}

.DraftEditor-editorContainer {
  padding: 16.5px 14px;
}